article h2 { 
	text-align: center;
}

article {
	margin-bottom: 21px;
}

table {
	margin-top: 20px;
	border-style: solid; 
	border-width: 2px;
	border-color: rgb(0,0,0);
	border-radius: 3px;
}

th, td {
	padding: 10px;
}

.success-msg {
	text-align: center;
	padding: 30px;
}

.submit-loading {
	width: 20px;
}

.submit-error {
	color: red;
}